html, body, #root {
    height: 100%;
    text-align: center;
    font-size: x-large;
    background-image:linear-gradient(30deg,white,lightblue);
}

a {
    color: blue;
}

input, select {
    font-size: x-large;
}